[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "PLUGS/FX/krvstenbraten"]
	path = PLUGS/FX/krvstenbraten
	url = https://github.com/dwrth/krvstenbraten.git
