[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "PLUGS/FX/krvstenbraten"]
	path = PLUGS/FX/krvstenbraten
	url = https://github.com/dwrth/krvstenbraten.git
[submodule "PLUGS/FX/skifteskift"]
	path = PLUGS/FX/skifteskift
	url = https://github.com/dwrth/skifteskift.git
[submodule "DAISY/DaisySP"]
	path = DAISY/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "DAISY/libDaisy"]
	path = DAISY/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "getting-started-book"]
	path = getting-started-book
	url = https://github.com/TheAudioProgrammer/getting-started-book.git
[submodule "PLUGS/FX/delay"]
	path = PLUGS/FX/delay
	url = https://github.com/dwrth/delay.git
[submodule "DAISY/DaisyExamples"]
	path = DAISY/DaisyExamples
	url = https://github.com/dwrth/DaisyExamples.git
[submodule "Rack"]
	path = Rack
	url = https://github.com/VCVRack/Rack.git
